.first-column {
  float: left;
  width: 33%;
}

.second-column{
  float: right;
  width: 66%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clickfunnel{
  margin: 69px;

}



body {
  margin: 0px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-family: "Mr Eaves Mod OT Light";
  font-weight: bold;
  font-size: 100%;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-family: "Mr Eaves Mod OT Light";
  font-weight: normal;
  font-size: 100%;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: none;
  font-family: "Mr Eaves Mod OT Light";
  font-weight: normal;
  font-size: 100%;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
  font-family: "Mr Eaves Mod OT Light";
  font-size: 100%;
}

h1{
  font-family: "Mr Eaves Mod OT Light";
  font-weight: normal;
  font-size: 300%;
  color: black;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

h2{
  font-family: "Mr Eaves Mod OT Light";
  font-weight: normal;
  font-size: 300%;
  color: black;

}

.backbutton{
  margin-top: 50px;
  margin-left: 100px;
}
/* Navigation links */
.navbar a {
  float: none;
  margin: auto;
  padding: 12px;
  color: black;
  font-family: "Mr Eaves Mod OT Light";
  text-decoration: none;
  font-size: 100%;
  width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  font-family: "Mr Eaves Mod OT Light";
  font-weight: bold;
  color: gray;
}

/* Style the current/active link */
.navbar a.active {
  font-family: "Mr Eaves Mod OT Light";
  font-weight: bold;
}

.ProjectInfo{
  margin-top: 69px;
  margin-left: 69px;
  font-family: "Mr Eaves Mod OT Light";
}

.ProjectContent{
  margin-top: 69px;
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 69px;
  font-family: "Mr Eaves Mod OT Light";

}


.navbar {
  width: 100%;
  background-color: white;
  color: black;
  font-family: "Mr Eaves Mod OT Light";
  overflow: auto;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}


.description{
  font-size: 110%;
  color: black;
  font-family: "Mr Eaves Mod OT Light";"
  text-align: justify;

}

p{
  font-family: "Mr Eaves Mod OT Light";

}

.resume{
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    width: 75%;
}

.images{
  margin-top: 69px;
  margin-bottom: 0px;
  width: 100%;

}

.imagebuttons{
  width: 100%;
  height: 5vw;
  margin-bottom: 0px;
  background-position: center;
  opacity: 1;
}


#woven{
  background: url("assets/wovenstripe.png");
  background-size: cover;
  background-position: center;

}

#sexed{
  background: url("assets/sexedstripe.png");
  background-size: cover;
  background-position: center;

}

#chromosome{
  background: url("assets/chromosomestripe.png");
  background-size: cover;
  background-position: center;

}

#uic1{
  background: url("assets/uic1stripe.png");
  background-size: cover;
  background-position: center;

}

#coulometer{
  background: url("assets/uic2stripe.png");
  background-size: cover;
  background-position: center;

}

#colorandsound{
  background: url("assets/soundandcolorstripe.png");
  background-size: cover;
  background-position: center;

}

/* .middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */

.imagebuttons:hover {
  opacity: 0.51;

}

/* .middle:hover {
  opacity: 1;
} */

/* .projecttitles{
  color: black;
  font-family: "Mr Eaves Mod OT Light";
  font-size: 100%;
  padding: 10px;
} */
/* .grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 137.047px;
  background-color: white;
  padding: 0px;
}
.grid-item {
  background-color: white;
  border: 0px ;
  padding: 0px;
} */
