/* .intro {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
} */

/* .emptyspace{
  left: 1120px;
  width: 100vw;
} */


/* div.blackbackground{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

div.whitebackground{
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
} */
p {
  font-family: courier;
  color: black;
  text-decoration: none;
}
.intro{
  font-family: courier;
  width:25%;
  height: 10;
  cursor: pointer;
}

.centertext{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

p.bounce1{
  position: absolute;
  top: 10%;
  left: 10%;
}

p.anotherbounce{
  position: absolute;
  top: 80%;
  left: 35%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* a{
  font-family: courier;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  color: black;
} */

iframe{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}



/* .button{
  font-family: courier;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
} */
